<footer class="footer">
    <div class="footer_inner">
        <div class="footer-block">
            <svg class="footer-icon" viewBox="0 0 86 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M43 28.5469V39.5156H9.98438V28.5469H43ZM14.1562 0.75V69H0.09375V0.75H14.1562Z" fill="white"/>
                <path d="M85.4688 58.0312V69H51.1094V58.0312H85.4688ZM55.6562 0.75V69H41.5938V0.75H55.6562Z" fill="#F14C4C"/>
            </svg>
            © HTMLOLOGY, 2023
        </div>
    </div>
</footer>