<header class="header">
    <div class="header_inner">
        <div class="header-logo">
            <svg class="header-logo-logo" viewBox="0 0 565 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M51.6094 48.5469V59.5156H15.9844V48.5469H51.6094ZM20.1562 20.75V89H6.09375V20.75H20.1562ZM61.6406 20.75V89H47.625V20.75H61.6406ZM102.984 20.75V89H88.9688V20.75H102.984ZM123.984 20.75V31.7656H68.2969V20.75H123.984ZM138.422 20.75H150.328L167.859 70.8594L185.391 20.75H197.297L172.641 89H163.078L138.422 20.75ZM132 20.75H143.859L146.016 69.5938V89H132V20.75ZM191.859 20.75H203.766V89H189.703V69.5938L191.859 20.75ZM259.969 78.0312V89H225.609V78.0312H259.969ZM230.156 20.75V89H216.094V20.75H230.156ZM321 53.2812V56.5156C321 61.7031 320.297 66.3594 318.891 70.4844C317.484 74.6094 315.5 78.125 312.938 81.0312C310.375 83.9062 307.312 86.1094 303.75 87.6406C300.219 89.1719 296.297 89.9375 291.984 89.9375C287.703 89.9375 283.781 89.1719 280.219 87.6406C276.688 86.1094 273.625 83.9062 271.031 81.0312C268.438 78.125 266.422 74.6094 264.984 70.4844C263.578 66.3594 262.875 61.7031 262.875 56.5156V53.2812C262.875 48.0625 263.578 43.4062 264.984 39.3125C266.391 35.1875 268.375 31.6719 270.938 28.7656C273.531 25.8594 276.594 23.6406 280.125 22.1094C283.688 20.5781 287.609 19.8125 291.891 19.8125C296.203 19.8125 300.125 20.5781 303.656 22.1094C307.219 23.6406 310.281 25.8594 312.844 28.7656C315.438 31.6719 317.438 35.1875 318.844 39.3125C320.281 43.4062 321 48.0625 321 53.2812ZM306.797 56.5156V53.1875C306.797 49.5625 306.469 46.375 305.812 43.625C305.156 40.875 304.188 38.5625 302.906 36.6875C301.625 34.8125 300.062 33.4062 298.219 32.4688C296.375 31.5 294.266 31.0156 291.891 31.0156C289.516 31.0156 287.406 31.5 285.562 32.4688C283.75 33.4062 282.203 34.8125 280.922 36.6875C279.672 38.5625 278.719 40.875 278.062 43.625C277.406 46.375 277.078 49.5625 277.078 53.1875V56.5156C277.078 60.1094 277.406 63.2969 278.062 66.0781C278.719 68.8281 279.688 71.1562 280.969 73.0625C282.25 74.9375 283.812 76.3594 285.656 77.3281C287.5 78.2969 289.609 78.7812 291.984 78.7812C294.359 78.7812 296.469 78.2969 298.312 77.3281C300.156 76.3594 301.703 74.9375 302.953 73.0625C304.203 71.1562 305.156 68.8281 305.812 66.0781C306.469 63.2969 306.797 60.1094 306.797 56.5156ZM375 78.0312V89H340.641V78.0312H375ZM345.188 20.75V89H331.125V20.75H345.188ZM436.031 53.2812V56.5156C436.031 61.7031 435.328 66.3594 433.922 70.4844C432.516 74.6094 430.531 78.125 427.969 81.0312C425.406 83.9062 422.344 86.1094 418.781 87.6406C415.25 89.1719 411.328 89.9375 407.016 89.9375C402.734 89.9375 398.812 89.1719 395.25 87.6406C391.719 86.1094 388.656 83.9062 386.062 81.0312C383.469 78.125 381.453 74.6094 380.016 70.4844C378.609 66.3594 377.906 61.7031 377.906 56.5156V53.2812C377.906 48.0625 378.609 43.4062 380.016 39.3125C381.422 35.1875 383.406 31.6719 385.969 28.7656C388.562 25.8594 391.625 23.6406 395.156 22.1094C398.719 20.5781 402.641 19.8125 406.922 19.8125C411.234 19.8125 415.156 20.5781 418.688 22.1094C422.25 23.6406 425.312 25.8594 427.875 28.7656C430.469 31.6719 432.469 35.1875 433.875 39.3125C435.312 43.4062 436.031 48.0625 436.031 53.2812ZM421.828 56.5156V53.1875C421.828 49.5625 421.5 46.375 420.844 43.625C420.188 40.875 419.219 38.5625 417.938 36.6875C416.656 34.8125 415.094 33.4062 413.25 32.4688C411.406 31.5 409.297 31.0156 406.922 31.0156C404.547 31.0156 402.438 31.5 400.594 32.4688C398.781 33.4062 397.234 34.8125 395.953 36.6875C394.703 38.5625 393.75 40.875 393.094 43.625C392.438 46.375 392.109 49.5625 392.109 53.1875V56.5156C392.109 60.1094 392.438 63.2969 393.094 66.0781C393.75 68.8281 394.719 71.1562 396 73.0625C397.281 74.9375 398.844 76.3594 400.688 77.3281C402.531 78.2969 404.641 78.7812 407.016 78.7812C409.391 78.7812 411.5 78.2969 413.344 77.3281C415.188 76.3594 416.734 74.9375 417.984 73.0625C419.234 71.1562 420.188 68.8281 420.844 66.0781C421.5 63.2969 421.828 60.1094 421.828 56.5156ZM500.25 53.3281V80.375C499.188 81.6562 497.547 83.0469 495.328 84.5469C493.109 86.0156 490.25 87.2812 486.75 88.3438C483.25 89.4062 479.016 89.9375 474.047 89.9375C469.641 89.9375 465.625 89.2188 462 87.7812C458.375 86.3125 455.25 84.1719 452.625 81.3594C450.031 78.5469 448.031 75.1094 446.625 71.0469C445.219 66.9531 444.516 62.2812 444.516 57.0312V52.7656C444.516 47.5156 445.188 42.8438 446.531 38.75C447.906 34.6562 449.859 31.2031 452.391 28.3906C454.922 25.5781 457.938 23.4375 461.438 21.9688C464.938 20.5 468.828 19.7656 473.109 19.7656C479.047 19.7656 483.922 20.7344 487.734 22.6719C491.547 24.5781 494.453 27.2344 496.453 30.6406C498.484 34.0156 499.734 37.8906 500.203 42.2656H486.562C486.219 39.9531 485.562 37.9375 484.594 36.2188C483.625 34.5 482.234 33.1562 480.422 32.1875C478.641 31.2187 476.328 30.7344 473.484 30.7344C471.141 30.7344 469.047 31.2187 467.203 32.1875C465.391 33.125 463.859 34.5156 462.609 36.3594C461.359 38.2031 460.406 40.4844 459.75 43.2031C459.094 45.9219 458.766 49.0781 458.766 52.6719V57.0312C458.766 60.5938 459.109 63.75 459.797 66.5C460.484 69.2188 461.5 71.5156 462.844 73.3906C464.219 75.2344 465.906 76.625 467.906 77.5625C469.906 78.5 472.234 78.9688 474.891 78.9688C477.109 78.9688 478.953 78.7812 480.422 78.4062C481.922 78.0312 483.125 77.5781 484.031 77.0469C484.969 76.4844 485.688 75.9531 486.188 75.4531V63.3594H473.344V53.3281H500.25ZM520.969 20.75L535.219 51.875L549.469 20.75H564.797L542.344 64.1562V89H528.094V64.1562L505.594 20.75H520.969Z" fill="white"/>
            </svg>
        </div>

        <div class="header-burger">
            <span></span>
        </div>

        <nav class="header-navigation-list">
            
            <li class="header-navigation-list-item"><a href="/home" class="navigation-list-item-link">Главная</a></li>
        
            <% switch(user.role) {
                case 1: %>
                <li class="header-navigation-list-item"><a href="/study" class="navigation-list-item-link">Обучение</a></li>
                <% break;
                case 2: %>
                <li class="header-navigation-list-item"><a href="/editor" class="navigation-list-item-link">Редактор</a></li>
                <% break;
                case 3: %>
                <li class="header-navigation-list-item"><a href="/admin" class="navigation-list-item-link">Админ-панель</a></li>
                <% break;
            } %>

        </nav>
        <div class="header-profile-icon">
            <% switch(user.role) {
                case 1: %>
                    <a href="/profile" class="profile-icon css-student-profile-icon">
                <% break;
                case 2: %>
                    <a href="/profile" class="profile-icon css-teacher-profile-icon">
                <% break;
                case 3: %>
                    <a href="/profile" class="profile-icon css-admin-profile-icon">
                <% break;
            } %>
                <div class="profile-icon-name"><%= user.name %></div>
                <svg class="profile-icon-logo" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="19.5" cy="19.5" r="18.5" stroke="#F9F9F9" stroke-width="2"/>
                    <path d="M19.5 19.6957C18.1938 19.6957 17.125 19.2899 16.2938 18.4783C15.4625 17.6667 15.0469 16.6232 15.0469 15.3478C15.0469 14.0725 15.4625 13.029 16.2938 12.2174C17.125 11.4058 18.1938 11 19.5 11C20.8063 11 21.875 11.4058 22.7062 12.2174C23.5375 13.029 23.9531 14.0725 23.9531 15.3478C23.9531 16.6232 23.5375 17.6667 22.7062 18.4783C21.875 19.2899 20.8063 19.6957 19.5 19.6957ZM10 29V26.2754C10 25.5411 10.188 24.913 10.5641 24.3913C10.9401 23.8696 11.425 23.4734 12.0187 23.2029C13.3448 22.6232 14.6164 22.1884 15.8336 21.8986C17.0508 21.6087 18.2729 21.4638 19.5 21.4638C20.7271 21.4638 21.9443 21.6135 23.1516 21.913C24.3589 22.2126 25.6255 22.6425 26.9516 23.2029C27.5651 23.4734 28.0599 23.8696 28.4359 24.3913C28.812 24.913 29 25.5411 29 26.2754V29H10ZM11.7813 27.2609H27.2188V26.2754C27.2188 25.9662 27.1247 25.6715 26.9367 25.3913C26.7487 25.1111 26.5161 24.9034 26.2391 24.7681C24.9724 24.1691 23.8146 23.7585 22.7656 23.5362C21.7167 23.314 20.6281 23.2029 19.5 23.2029C18.3719 23.2029 17.2734 23.314 16.2047 23.5362C15.1359 23.7585 13.9781 24.1691 12.7313 24.7681C12.4542 24.9034 12.2266 25.1111 12.0484 25.3913C11.8703 25.6715 11.7813 25.9662 11.7813 26.2754V27.2609ZM19.5 17.9565C20.2719 17.9565 20.9102 17.7101 21.4148 17.2174C21.9195 16.7246 22.1719 16.1015 22.1719 15.3478C22.1719 14.5942 21.9195 13.971 21.4148 13.4783C20.9102 12.9855 20.2719 12.7391 19.5 12.7391C18.7281 12.7391 18.0898 12.9855 17.5852 13.4783C17.0805 13.971 16.8281 14.5942 16.8281 15.3478C16.8281 16.1015 17.0805 16.7246 17.5852 17.2174C18.0898 17.7101 18.7281 17.9565 19.5 17.9565Z" fill="#F9F9F9"/>
                </svg>
            </a>
        </div>                    
    </div>
</header>