<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/styles/error-page-styles.css">
    <title>Доступ запрещен</title>
</head>
<body>
    <div class="wrapper">
        <div class="error-block">
            <div class="error-block-header">
                403
            </div>
            <div class="error-block-body">
                <div class="error-block-body-name">
                    Доступ запрещен
                </div>
                <div class="error-block-body-description">
                    Доступ к запрошенному ресурсу запрещен. Попробуйте перейти на <a href="/home">главную страницу</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>