<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/styles/error-page-styles.css">
    <title>Страница не найдена</title>
</head>
<body>
    <div class="wrapper">
        <div class="error-block">
            <div class="error-block-header">
                404
            </div>
            <div class="error-block-body">
                <div class="error-block-body-name">
                    Страница не найдена
                </div>
                <div class="error-block-body-description">
                    Страница, на которую вы пытаетесь попасть, не существует или была удалена. <br> Перейдите на <a href="/home">главную страницу</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>