<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/help-page-styles.css">
        <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
        <title>Руководство пользователя</title>
        <style>
            .wrapper {
                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }

            .wrapper_inner {
                min-height: 100%;
                max-width: 83rem;
                padding: 0 1rem;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="wrapper_inner">
                <a id="back-btn" href="/home">
                    <svg viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 6L1.29289 6.70711L0.585785 6L1.29289 5.29289L2 6ZM7 18C6.44772 18 6 17.5523 6 17C6 16.4477 6.44772 16 7 16L7 18ZM6.29289 11.7071L1.29289 6.70711L2.70711 5.29289L7.70711 10.2929L6.29289 11.7071ZM1.29289 5.29289L6.29289 0.292893L7.70711 1.70711L2.70711 6.70711L1.29289 5.29289ZM2 5L12.5 5L12.5 7L2 7L2 5ZM12.5 18L7 18L7 16L12.5 16L12.5 18ZM19 11.5C19 15.0898 16.0898 18 12.5 18L12.5 16C14.9853 16 17 13.9853 17 11.5L19 11.5ZM12.5 5C16.0898 5 19 7.91015 19 11.5L17 11.5C17 9.01472 14.9853 7 12.5 7L12.5 5Z" fill="#E4E4E4"/>
                    </svg>                                                                      
                </a>
                <div class="head_block">
                    <svg id="logo" viewBox="0 0 569 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M51.6094 48.5469V59.5156H15.9844V48.5469H51.6094ZM20.1562 20.75V89H6.09375V20.75H20.1562ZM61.6406 20.75V89H47.625V20.75H61.6406ZM102.984 20.75V89H88.9688V20.75H102.984ZM123.984 20.75V31.7656H68.2969V20.75H123.984ZM138.422 20.75H150.328L167.859 70.8594L185.391 20.75H197.297L172.641 89H163.078L138.422 20.75ZM132 20.75H143.859L146.016 69.5938V89H132V20.75ZM191.859 20.75H203.766V89H189.703V69.5938L191.859 20.75Z" fill="white"/>
                        <path d="M259.969 78.0312V89H225.609V78.0312H259.969ZM230.156 20.75V89H216.094V20.75H230.156Z" fill="#F9F9F9"/>
                        <path d="M324.094 53.2812V56.5156C324.094 61.7031 323.391 66.3594 321.984 70.4844C320.578 74.6094 318.594 78.125 316.031 81.0312C313.469 83.9062 310.406 86.1094 306.844 87.6406C303.312 89.1719 299.391 89.9375 295.078 89.9375C290.797 89.9375 286.875 89.1719 283.312 87.6406C279.781 86.1094 276.719 83.9062 274.125 81.0312C271.531 78.125 269.516 74.6094 268.078 70.4844C266.672 66.3594 265.969 61.7031 265.969 56.5156V53.2812C265.969 48.0625 266.672 43.4062 268.078 39.3125C269.484 35.1875 271.469 31.6719 274.031 28.7656C276.625 25.8594 279.688 23.6406 283.219 22.1094C286.781 20.5781 290.703 19.8125 294.984 19.8125C299.297 19.8125 303.219 20.5781 306.75 22.1094C310.312 23.6406 313.375 25.8594 315.938 28.7656C318.531 31.6719 320.531 35.1875 321.938 39.3125C323.375 43.4062 324.094 48.0625 324.094 53.2812ZM309.891 56.5156V53.1875C309.891 49.5625 309.562 46.375 308.906 43.625C308.25 40.875 307.281 38.5625 306 36.6875C304.719 34.8125 303.156 33.4062 301.312 32.4688C299.469 31.5 297.359 31.0156 294.984 31.0156C292.609 31.0156 290.5 31.5 288.656 32.4688C286.844 33.4062 285.297 34.8125 284.016 36.6875C282.766 38.5625 281.812 40.875 281.156 43.625C280.5 46.375 280.172 49.5625 280.172 53.1875V56.5156C280.172 60.1094 280.5 63.2969 281.156 66.0781C281.812 68.8281 282.781 71.1562 284.062 73.0625C285.344 74.9375 286.906 76.3594 288.75 77.3281C290.594 78.2969 292.703 78.7812 295.078 78.7812C297.453 78.7812 299.562 78.2969 301.406 77.3281C303.25 76.3594 304.797 74.9375 306.047 73.0625C307.297 71.1562 308.25 68.8281 308.906 66.0781C309.562 63.2969 309.891 60.1094 309.891 56.5156ZM378.094 78.0312V89H343.734V78.0312H378.094ZM348.281 20.75V89H334.219V20.75H348.281ZM439.125 53.2812V56.5156C439.125 61.7031 438.422 66.3594 437.016 70.4844C435.609 74.6094 433.625 78.125 431.062 81.0312C428.5 83.9062 425.438 86.1094 421.875 87.6406C418.344 89.1719 414.422 89.9375 410.109 89.9375C405.828 89.9375 401.906 89.1719 398.344 87.6406C394.812 86.1094 391.75 83.9062 389.156 81.0312C386.562 78.125 384.547 74.6094 383.109 70.4844C381.703 66.3594 381 61.7031 381 56.5156V53.2812C381 48.0625 381.703 43.4062 383.109 39.3125C384.516 35.1875 386.5 31.6719 389.062 28.7656C391.656 25.8594 394.719 23.6406 398.25 22.1094C401.812 20.5781 405.734 19.8125 410.016 19.8125C414.328 19.8125 418.25 20.5781 421.781 22.1094C425.344 23.6406 428.406 25.8594 430.969 28.7656C433.562 31.6719 435.562 35.1875 436.969 39.3125C438.406 43.4062 439.125 48.0625 439.125 53.2812ZM424.922 56.5156V53.1875C424.922 49.5625 424.594 46.375 423.938 43.625C423.281 40.875 422.312 38.5625 421.031 36.6875C419.75 34.8125 418.188 33.4062 416.344 32.4688C414.5 31.5 412.391 31.0156 410.016 31.0156C407.641 31.0156 405.531 31.5 403.688 32.4688C401.875 33.4062 400.328 34.8125 399.047 36.6875C397.797 38.5625 396.844 40.875 396.188 43.625C395.531 46.375 395.203 49.5625 395.203 53.1875V56.5156C395.203 60.1094 395.531 63.2969 396.188 66.0781C396.844 68.8281 397.812 71.1562 399.094 73.0625C400.375 74.9375 401.938 76.3594 403.781 77.3281C405.625 78.2969 407.734 78.7812 410.109 78.7812C412.484 78.7812 414.594 78.2969 416.438 77.3281C418.281 76.3594 419.828 74.9375 421.078 73.0625C422.328 71.1562 423.281 68.8281 423.938 66.0781C424.594 63.2969 424.922 60.1094 424.922 56.5156ZM503.344 53.3281V80.375C502.281 81.6562 500.641 83.0469 498.422 84.5469C496.203 86.0156 493.344 87.2812 489.844 88.3438C486.344 89.4062 482.109 89.9375 477.141 89.9375C472.734 89.9375 468.719 89.2188 465.094 87.7812C461.469 86.3125 458.344 84.1719 455.719 81.3594C453.125 78.5469 451.125 75.1094 449.719 71.0469C448.312 66.9531 447.609 62.2812 447.609 57.0312V52.7656C447.609 47.5156 448.281 42.8438 449.625 38.75C451 34.6562 452.953 31.2031 455.484 28.3906C458.016 25.5781 461.031 23.4375 464.531 21.9688C468.031 20.5 471.922 19.7656 476.203 19.7656C482.141 19.7656 487.016 20.7344 490.828 22.6719C494.641 24.5781 497.547 27.2344 499.547 30.6406C501.578 34.0156 502.828 37.8906 503.297 42.2656H489.656C489.312 39.9531 488.656 37.9375 487.688 36.2188C486.719 34.5 485.328 33.1562 483.516 32.1875C481.734 31.2187 479.422 30.7344 476.578 30.7344C474.234 30.7344 472.141 31.2187 470.297 32.1875C468.484 33.125 466.953 34.5156 465.703 36.3594C464.453 38.2031 463.5 40.4844 462.844 43.2031C462.188 45.9219 461.859 49.0781 461.859 52.6719V57.0312C461.859 60.5938 462.203 63.75 462.891 66.5C463.578 69.2188 464.594 71.5156 465.938 73.3906C467.312 75.2344 469 76.625 471 77.5625C473 78.5 475.328 78.9688 477.984 78.9688C480.203 78.9688 482.047 78.7812 483.516 78.4062C485.016 78.0312 486.219 77.5781 487.125 77.0469C488.062 76.4844 488.781 75.9531 489.281 75.4531V63.3594H476.438V53.3281H503.344ZM524.062 20.75L538.312 51.875L552.562 20.75H567.891L545.438 64.1562V89H531.188V64.1562L508.688 20.75H524.062Z" fill="#F14C4C"/>
                    </svg>
                    <h2>Руководство пользователя</h2>
                    <p>Версия 1.0.</p>
                    <p>2024 г.</p>
                </div>
                <p><h2 style="margin-bottom: .3rem;">Аннотация</h2>Текущий документ представляет из себя руководство для пользователей “обучающего сайта по программированию на HTML для начинающих” (HTMLOLOGY) составленный в соответствии с ГОСТ 2.105-95 и ГОСТ Р 7.0.97-2016.</p>
                <p>В текущем документе описаны общие сведения, назначение, требования к квалификации пользователей, принципы работы с графическим интерфейсом пользователя и порядок действий при выполнении в рамках работы с системой.</p>
                <h2 style="margin-bottom: .5rem">Содержание:</h2>
                <ol class="content-list" style="margin-top: 0">
                    <li><a href="#general">1. Общие положения</a>
                        <ol>
                            <li><a href="#developer">1.1. Общие сведения о разработчике</a></li>
                            <li><a href="#system">1.2. Общие сведения о системе</a></li>
                            <li><a href="#qualification">1.3. Уровень квалификации пользователей</a></li>
                        </ol>
                    </li>
                    <li><a href="#preparation">2. Подготовка к работе</a>
                        <ol>
                            <li><a href="#requirements">2.1. Требования</a></li>
                            <li><a href="#distributive">2.2. Установочный дистрибутив</a></li>
                        </ol>
                    </li>
                    <li><a href="#installation">3. Инструкция по установке и запуску ИС</a>
                        <ol>
                            <li><a href="#xampp">3.1. Настройка XAMPP</a></li>
                            <li><a href="#database">3.2. Создание и подключение базы данных</a></li>
                            <li><a href="#nodejs">3.3. Настройка проекта NodeJS</a></li>
                            <li><a href="#launch">3.4. Запуск и переход к сайту</a></li>
                        </ol>
                    </li>
                    <li><a href="#manual">4. Руководство по работе с ИС</a>
                        <ol>
                            <li><a href="#registration">4.1. Регистрация</a></li>
                            <li><a href="#authorization">4.2. Авторизация</a></li>
                            <li><a href="#personal">4.3. Личный кабинет</a>
                                <ol>
                                    <li><a href="#edit_personal">4.3.1. Изменение личных данных</a></li>
                                    <li><a href="#log-out">4.3.2. Выход из профиля</a></li>
                                </ol>
                            </li>
                            <li><a href="#learning">4.4. Обучение</a>
                                <ol>
                                    <li><a href="#choose_topic">4.4.1. Выбор темы</a></li>
                                    <li><a href="#complete_topic">4.4.2. Прохождение темы</a></li>
                                    <li><a href="#finish_topic">4.4.3. Завершение темы</a></li>
                                </ol>
                            </li>
                            <li><a href="#editor">4.5. Редактор</a>
                                <ol>
                                    <li><a href="#view_topics">4.5.1. Просмотр существующих тем</a></li>
                                    <li><a href="#create_topic">4.5.2. Создание новой темы</a></li>
                                    <li><a href="#edit_topic">4.5.3. Редактирование темы</a></li>
                                    <li><a href="#delete_topic">4.5.4. Удаление темы</a></li>
                                </ol>
                            </li>
                            <li><a href="#statistics">4.6. Статистика</a>
                                <ol>
                                    <li><a href="#view_statistics_student">4.6.1. Просмотр статистики (обучающийся)</a></li>
                                    <li><a href="#view_statistics_teacher">4.6.2. Просмотр статистики (преподаватель)</a></li>
                                    <li><a href="#add_grade">4.6.3. Добавление оценки</a></li>
                                    <li><a href="#delete_grade">4.6.4. Удаление оценки</a></li>
                                </ol>
                            </li>
                            <li><a href="#administration">4.7. Администрирование</a>
                                <ol>
                                    <li><a href="#view_user_data">4.7.1. Просмотр пользовательских данных</a></li>
                                    <li><a href="#change_user_role">4.7.2. Изменение роли пользователя</a></li>
                                    <li><a href="#delete_user_data">4.7.3. Удаление данных о пользователе</a></li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
                <section id="general">
                    <h2>1. Общие положения</h2>
                    <section id="developer">
                        <h3>1.1. Общие сведения о разработчике</h3>
                        <p>Система разработана студентом очной формы обучения 431 группы Санкт-Петербургского техникума библиотечных и информационных технологий Никаевым Маликом Магамедовичем в качестве дипломной работы.</p>
                    </section>
                    <section id="system">
                        <h3>1.2. Общие сведения о системе</h3>
                        <p>HTMLOLOGY представляет из себя веб-сайт, предназначенный для обучения начальным навыкам языка гипертекстовой разметки HTML любого желающего пользователя в глобальной сети интернет. Система содержит учебный материал по различным темам, практические задания и небольшие проверки освоения теоретического материала в виде тестов.</p>
                    </section>
                    <section id="qualification">
                        <h3>1.3. Уровень квалификации пользователей</h3>
                        <p>Пользователям HTMLOLOGY рекомендуется всего лишь иметь навык работы персональным компьютером под управлением операционных систем семейства Windows.</p>
                    </section>
                </section>
                <section id="preparation">
                    <h2>2. Подготовка к работе</h2>
                    <section id="requirements">
                        <h3>2.1. Требования</h3>
                        <p>Для работы требуется установочный дистрибутив, а также потребуется локальный веб-сервер XAMP, архиватор WinRAR, NodeJS, командная строка и интернет-браузер (любой).</p>
                        <p><strong>Системные требования к рабочему месту пользователя:</strong></p>
                        <ul>
                            <li>Минимальные системные требования:
                                <ul>
                                    <li>Тактовая частота центрального процессора не менее 2.2 ГГЦ;</li>
                                    <li>Объем оперативной памяти не менее 8гб;</li>
                                    <li>Пропускная способность канала интернет не менее 10 Мбит/сек.</li>
                                </ul>
                            </li>
                        </ul>
                        <p><strong>Требования к установленному программному обеспечению для работы:</strong></p>
                        <ul>
                            <li>Версия XAMPP не ниже v3.2.4.</li>
                            <li>Рекомендуемая скорость подключения к информационно-телекоммуникационной сети Интернет от 100 Мбит/сек.</li>
                        </ul>
                    </section>
                    <section id="distributive">
                        <h3>2.2. Установочный дистрибутив</h3>
                        <p>Дистрибутив представляет из себя архив с именем htmlology и с расширением .rar, который включает в себя:</p>
                        <ul>
                            <li>package.json, package-lock.json – файлы с зависимостями проекта и их версиями;</li>
                            <li>models – папка с скриптом подключения базы данных и схемой базы данных (database.sql и database.js);</li>
                            <li>views – папка со страницами сайта;</li>
                            <li>public – папка со статическими файлами (.png, .gif, .jpeg, .svg, .mp4);</li>
                            <li>middlewares – папка с промежуточными обработчиками;</li>
                            <li>routers&controllers&services– папка с контроллерами, роутерами и сервисами;</li>
                            <li>config – папка с конфигурационным файлом (.env);</li>
                            <li>app.js – главный скрипт сайта.</li>
                        </ul>
                    </section>
                </section>
                <section id="instalation">
                    <h2>3. Подготовка к работе</h2>
                    <section id="xampp">
                        <h3>3.1. Настройка XAMPP</h3>
                        <p>На первом этапе установки необходимо запустить панель управления сборки веб-сервера XAMPP.</p>
                        <img src="assets/img/img_for_help/risunok_1.png" alt="Рисунок 1 Интерфейс панели управления XAMP">
                        <p>И запустить два модуля: Apache и MySQL. Путем нажатия на кнопки Start.</p>
                        <img src="assets/img/img_for_help/risunok_2.png" alt="Рисунок 2 Кнопка включения модуля">
                        <p>Список модулей до включения Apache и MySQL</p>
                        <img src="assets/img/img_for_help/risunok_3.png" alt="Рисунок 3 Список модулей до включения Apache и MySQL">
                        <p>Список модулей после включения Apache и MySQL</p>
                        <img src="assets/img/img_for_help/risunok_4.png" alt="Рисунок 4 Список модулей после включения Apache и MySQL">
                    </section>
                    <section id="database">
                        <h3>3.2. Создание и подключение базы данных</h3>
                        <p>Второй этап установки — это создание базы данных и импорт таблиц из файла с расширением sql который находится в главной директории со всеми файлами.</p>
                        <p>Для этого нужно зайти в панель управления phpMyAdmin путем нажатия на кнопку “Admin”.</p>
                        <img src="assets/img/img_for_help/risunok_5.png" alt="Рисунок 5 Кнопка для перехода в phpMyAdmin">
                        <p>После нажатия откроется в панель управления phpMyAdmin.</p>
                        <img src="assets/img/img_for_help/risunok_6.png" alt="Рисунок 6 Главная страница phpMyAdmin">
                        <p>Первым шагом будет создание базы данных. Для этого необходимо нажать на кнопку “Создать БД”.</p>
                        <img src="assets/img/img_for_help/risunok_7.png" alt="Рисунок 7 Кнопка для создания базы данных">
                        <p>При нажатии отобразится форма для создания БД. Здесь необходимо ввести “database” в поле “Имя базы данных” и выбрать кодировку “cp1251_general_ci”.</p>
                        <img src="assets/img/img_for_help/risunok_8.png" alt="Рисунок 8 Форма создания базы данных">
                        <p>Когда имя базы данных будет введено, а кодировка выбрана нужно нажать на кнопку “Создать” (Рисунок 9) после чего произойдет переход в созданную базу данных, где можно осуществлять полный контроль над самой базой переходя по разным вкладкам с разными функциями.</p>
                        <img src="assets/img/img_for_help/risunok_9.png" alt="Рисунок 9 Кнопка создания базы данных"> <br>
                        <img src="assets/img/img_for_help/risunok_10.png" alt="Рисунок 10 Страница для управления базой данных">
                        <p>Второй шаг — импорт таблиц в созданную базу данных. Для этого необходимо перейти в раздел “Импорт” (Рисунок 11) и там выбрать файл с расширением .sql из папки models нажав на кнопку “Выбрать файл” (Рисунок 12).</p>
                        <img src="assets/img/img_for_help/risunok_11.png" alt="Рисунок 11 Раздел импорт"> <br>
                        <img src="assets/img/img_for_help/risunok_12.png" alt="Рисунок 12 Кнопка выбора импортируемого файла">
                        <p>Когда файл будет выбран нужно нажать на кнопку “Вперед” внизу формы (Рисунок 13).</p>
                        <img src="assets/img/img_for_help/risunok_13.png" alt="Рисунок 13 Кнопка импорта">
                        <p>Если все было сделано правильно и ошибок не обнаружено после нажатия произойдет импорт всех таблиц со связями и записями (Рисунок 14).</p>
                        <img src="assets/img/img_for_help/risunok_14.png" alt="Рисунок 14 Результат импорта">
                        <p>База данных создана и импорт сделан. На этом второй этап установки завершен.</p>
                    </section>
                    <section id="nodejs">
                        <h3>3.3. Настройка проекта NodeJS</h3>
                        <p>Чтобы сайт корректно запустился необходимо установить все используемые системой модули и пакеты путем использования обычной командной строки.</p>
                        <p>После запуска командной строки необходимо перейти по пути где находится папка с проектом (htmlology) командной cd.</p>
                        <img src="assets/img/img_for_help/risunok_15.png" alt="Рисунок 15 Переход к расположению файла с проектом">
                        <p>Далее используя команду npm install нужно произвести установку всех модулей и пакетов проекта.</p>
                        <img src="assets/img/img_for_help/risunok_16.png" alt="Рисунок 16 Результат установки модулей и пакетов">
                    </section>
                    <section id="launch">
                        <h3>3.4. Запуск и переход к сайту</h3>
                        <p>Завершающий этап – это запуск и переход к самому сайту. Для этого нужно ввести в командную строку команду npm run start, которая запускает веб-сервер (Рисунок 17).</p>
                        <img src="assets/img/img_for_help/risunok_17.png" alt="Рисунок 17 Результат команды npm run start">
                        <p>Для того чтобы перейти на сайт необходимо ввести в поисковую строку ссылку на сайт, которую выдала командная строка в процессе обработки команды (Рисунок 18).</p>
                        <img src="assets/img/img_for_help/risunok_18.png" alt="Рисунок 18 Ссылка на сайт">
                        <p>После чего произойдет переход на главную страницу сайта.</p>
                    </section>
                </section>
                <section id="manual">
                    <h2>4. Руководство по работе с ИС</h2>
                    <p>Для начала работы с сайтом необходимо нажать на кнопку «Начать» (Рисунок 19) на главной странице.</p>
                    <img src="assets/img/img_for_help/risunok_19.png" alt="Рисунок 19 Кнопка для начала работы">
                    <section id="registration">
                        <h4>4.1. Регистрация</h4>
                        <p>После нажатия на кнопку «Начать» (Рисунок 19) произойдет переход на страницу регистрации с формой, куда необходимо ввести данные от создаваемого профиля (Рисунок 20).</p>
                        <p>Правила заполнения полей:</p>
                        <ul>
                            <li>Почта – используются латинские буквы, допускаются арабские цифры. Почта должна содержать имя почтового ящика, затем точку и доменное имя.</li>
                            <li>Имя, Фамилия, Отчество – от 2 до 20 символов, должны содержать кириллицу.</li>
                            <li>Пароль - от 8 до 12 символов, должен содержать латиницу, хотя бы одну цифру и хотя бы один спецсимвол, и не должен содержать пробелов.</li>
                        </ul>
                        <img src="assets/img/img_for_help/risunok_20.png" alt="Рисунок 20 Форма регистрации">
                        <p>Когда все данные будут введены в соответствующие поля, нужно нажать на кнопку «Зарегистрироваться». После этого произойдет регистрация аккаунта. Теперь, чтобы войти в профиль, необходимо перейти на страницу авторизации, нажав на ссылку (Рисунок 21).</p>
                        <img src="assets/img/img_for_help/risunok_21.png" alt="Рисунок 21 Ссылка перехода на страницу авторизации">
                    </section>
                    <section id="authorization">
                        <h4>4.2. Авторизация</h4>
                        <p>Страница авторизации содержит форму, куда необходимо ввести данные от профиля (логин и пароль) (Рисунок 22).</p>
                        <img src="assets/img/img_for_help/risunok_22.png" alt="Рисунок 22 Форма авторизации">
                        <p>Когда все данные будут введены в соответствующие поля, нужно нажать на кнопку «Войти». После этого произойдет вход в профиль.</p>
                    </section>
                    <section id="personal">
                        <h4>4.3. Личный кабинет</h4>
                        <p>Страница личного кабинета содержит личные данные пользователя и статистику (только для обучающихся) (Рисунок 24). Перейти на нее можно с любой страницы сайта нажатием на иконку личного кабинета в шапке сайта (Рисунок 23).</p>
                        <img src="assets/img/img_for_help/risunok_23.png" alt="Рисунок 23 Иконка личного кабинета">
                        <section id="edit_personal">
                            <h5>4.3.1. Изменение личных данных</h5>
                            <p>Для изменения личных данных необходимо нажать на кнопку «Изменить» (Рисунок 25), после чего отобразится модальное окно с формой (Рисунок 26).</p>
                            <img src="assets/img/img_for_help/risunok_25.png" alt="Рисунок 25 Кнопка «Изменить»"> <br>
                            <img src="assets/img/img_for_help/risunok_26.png" alt="Рисунок 26 Форма для изменения личных данных">
                            <p>После правки личных данных необходимо нажать на кнопку «Сохранить», после чего на странице будут отображаться уже измененные данные.</p>
                        </section>
                        <section id="log-out">
                            <h5>4.3.2. Выход из профиля</h5>
                            <p>Для выхода из профиля необходимо на странице с личным кабинетом нажать на кнопку «Выйти».</p>
                        </section>
                    </section>
                    <section id="learning">
                        <h4>4.4. Обучение</h4>
                        <p>Для того чтобы начать или продолжить процесс обучения необходимо перейти в раздел «Обучение». Страница раздела изображена на рисунке 27.</p>
                        <img src="assets/img/img_for_help/risunok_27.png" alt="Рисунок 27 Страница раздела «Обучение»">
                        <section id="choose_topic">
                            <h5>4.4.1. Выбор темы</h5>
                            <p>На странице представлены все доступные темы для изучения. Чтобы выбрать необходимо нажать на необходимо из них левой кнопкой мыши.</p>
                        </section>
                        <section id="complete_topic">
                            <h5>4.4.2. Прохождение темы</h5>
                            <p>При нажатии на тему отобразится страница с учебным материалом выбранной темы (Рисунок 28).</p>
                            <img src="assets/img/img_for_help/risunok_28.png" alt="Рисунок 28 Страница с учебным материалом">
                            <p>Страница состоит из трех секций:</p>
                            <ul>
                                <li>Теория. Секция содержит теоретический материал (текст, картинки, блоки кода и т.д.);</li>
                                <li>Практика. Секция содержит практический материал (практическое задание);</li>
                                <li>Завершение. Секция содержит поле ввода ответа на практическое задание.</li>
                            </ul>
                        </section>
                        <section id="finish_topic">
                            <h5>4.4.3. Завершение темы</h5>
                            <p>При завершении изучения темы пользователю необходимо в поле ввода ответа в секции «Завершение» ввести ответ на практическое задание из секции «Практика» и далее нажать на кнопку завершения в панели управления (Рисунок 29).</p>
                            <img src="assets/img/img_for_help/risunok_29.png" alt="Рисунок 29 Кнопка завершения темы">
                            <p>После нажатия отобразится модальное окно, уведомляющее о том, что введенный ответ отправлен на электронную почту преподавателя.</p>
                        </section>
                    </section>
                    <section id="editor">
                        <h3>4.5. Редактор</h3>
                        <p>Для того чтобы начать или продолжить процесс работы над учебным материалом, необходимо перейти в раздел «Редактор». Страница раздела изображена на рисунке 30.</p>
                        <img src="assets/img/img_for_help/risunok_30.png" alt="Рисунок 30: Страница раздела «Редактор»">
                        <section id="view_topics">
                            <h4>4.5.1. Просмотр существующих тем</h4>
                            <p>Страница содержит список созданных преподавателем тем. Каждая тема содержит название, описание и две кнопки (Рисунок 31).</p>
                            <img src="assets/img/img_for_help/risunok_31.png" alt="Рисунок 31: Элемент списка тем">
                        </section>
                        <section id="create_topic">
                            <h4>4.5.2. Создание новой темы</h4>
                            <p>После списка существующих тем находится форма для создания новой темы (Рисунок 32).</p>
                            <img src="assets/img/img_for_help/risunok_32.png" alt="Рисунок 32: Форма для создания новой темы">
                            <p>Необходимо заполнить все поля, после чего нажать на кнопку «Готово», и новая тема будет добавлена. При нажатии на кнопку «Очистить» форма очищается.</p>
                        </section>
                        <section id="edit_topic">
                            <h4>4.5.3. Редактирование темы</h4>
                            <p>Для редактирования необходимо в списке созданных тем найти нужную тему и нажать на кнопку редактирования (Рисунок 33).</p>
                            <img src="assets/img/img_for_help/risunok_33.png" alt="Рисунок 33: Кнопка редактирования темы">
                            <p>После чего отобразится страница редактирования темы (Рисунок 34). Страница содержит форму для редактирования и кнопку возврата на предыдущую страницу.</p>
                            <img src="assets/img/img_for_help/risunok_34.png" alt="Рисунок 34: Страница редактирования темы">
                            <p>После правки учебного материала необходимо нажать на кнопку «Сохранить», и появится сообщение, уведомляющее о том, что изменения сохранены.</p>
                        </section>
                        <section id="delete_topic">
                            <h4>4.5.4. Удаление темы</h4>
                            <p>Для удаления темы необходимо в списке созданных тем найти нужную тему и нажать на кнопку удаления (Рисунок 35).</p>
                            <img src="assets/img/img_for_help/risunok_35.png" alt="Рисунок 35: Кнопка удаления темы">
                            <p>После чего тема будет удалена, и появится сообщение, уведомляющее об успешном удалении.</p>
                        </section>
                    </section>
                    <section id="statistics">
                        <h3>4.6. Статистика</h3>
                        <p>Для того чтобы начать или продолжить процесс ведения статистики необходимо перейти в раздел «Статистика». Страница раздела изображена на рисунке 36.</p>
                        <img src="assets/img/img_for_help/risunok_36.png" alt="Рисунок 36: Страница раздела «Статистика»">
                        <section id="view_statistics_student">
                            <h4>4.6.1. Просмотр статистики (обучающийся)</h4>
                            <p>Просмотр своей статистики обучающийся может осуществлять на странице с личным кабинетом (Рисунок 24). Статистика находится под блоком с личными данными.</p>
                        </section>
                        <section id="view_statistics_teacher">
                            <h4>4.6.2. Просмотр статистики (преподаватель)</h4>
                            <p>Страница «Статистика» предоставляет преподавателю таблицу с данными о статистике обучающихся (Рисунок 36).</p>
                        </section>
                        <section id="add_grade">
                            <h4>4.6.3. Добавление оценки</h4>
                            <p>Чтобы выставить оценку за определенную тему необходимо нажать на кнопку «Добавить оценку» (Рисунок 37) после чего отобразится модальное окно с формой (Рисунок 38).</p>
                            <img src="assets/img/img_for_help/risunok_37.png" alt="Рисунок 37: Кнопка «Добавить оценку»"> <br>
                            <img src="assets/img/img_for_help/risunok_38.png" alt="Рисунок 38: Форма для добавления оценки">
                            <p>Здесь необходимо заполнить все поля и нажать на кнопку «Добавить» после чего данные о выставленной оценке отобразятся в таблице.</p>
                        </section>
                        <section id="delete_grade">
                            <h4>4.6.4. Удаление оценки</h4>
                            <p>Чтобы удалить оценку необходимо найти строку в таблице с нужной оценкой и нажать на кнопку удаления (Рисунок 39). После нажатия отобразится сообщение, уведомляющее о том, что удаление оценки прошло успешно.</p>
                            <img src="assets/img/img_for_help/risunok_39.png" alt="Рисунок 39: Кнопка удаления оценки">
                        </section>
                    </section>
                    <section id="administration">
                        <h3>4.7. Администрирование</h3>
                        <p>Для начала или продолжения администрирования необходимо перейти в раздел "Админ панель". Страница данного раздела изображена на рисунке 40.</p>
                        <img src="assets/img/img_for_help/risunok_40.png" alt="Рисунок 40: Страница раздела «Админ-панель»">
                        <section id="view_user_data">
                            <h4>4.7.1. Просмотр пользовательских данных</h4>
                            <p>Страница "Админ-панель" предоставляет администратору таблицу с данными о всех пользователях (Рисунок 40).</p>
                        </section>
                        <section id="change_user_role">
                            <h4>4.7.2. Изменение роли пользователя</h4>
                            <p>Для изменения роли необходимо найти нужного пользователя в таблице, перейти к полю "Статус", которое содержит выпадающий список, и выбрать в этом списке новую роль. После выбора отобразится сообщение, уведомляющее о том, что изменение роли прошло успешно.</p>
                        </section>
                        <section id="delete_user_data">
                            <h4>4.7.3. Удаление данных о пользователе</h4>
                            <p>Для удаления данных необходимо найти нужного пользователя в таблице, перейти к полю с кнопкой удаления (Рисунок 41) и нажать на нее левой кнопкой мыши. После нажатия отобразится сообщение, уведомляющее о том, что удаление данных пользователя прошло успешно.</p>
                            <img src="assets/img/img_for_help/risunok_41.png" alt="Рисунок 41: Кнопка удаления личных данных пользователя">
                        </section>
                    </section>
                </section>
            </div>
            <button id="scrollToTopBtn">
                <svg viewBox="0 0 24 24" fill="none">
                    <path d="M12 4L11.2929 3.29289L12 2.58579L12.7071 3.29289L12 4ZM13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19L13 19ZM5.29289 9.29289L11.2929 3.29289L12.7071 4.70711L6.70711 10.7071L5.29289 9.29289ZM12.7071 3.29289L18.7071 9.29289L17.2929 10.7071L11.2929 4.70711L12.7071 3.29289ZM13 4L13 19L11 19L11 4L13 4Z" fill="rgb(228,228,228)"/>
                </svg>                    
            </button>
        </div>
        <script src="/modules/jquery/dist/jquery.min.js"></script>
        <script>
            $(function() {
                const scrollToTopBtn = $('#scrollToTopBtn')
                $(window).on('scroll', () => {
                    if ($(document).scrollTop() > ($(window).height() * 0.50)) {
                        scrollToTopBtn.addClass('active')
                    } else {
                        scrollToTopBtn.removeClass('active')
                    }
                })
                scrollToTopBtn.on('click', () => {
                    $('html, body').animate({ 
                        scrollTop: 0
                    }, {
                        duration: 0,
                        easing: 'linear',
                    });
                })
            })
        </script>
    </body>
</html>