<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('./partials/head') %>
    
    <link rel="stylesheet" href="/styles/login-page-styles.css">
    <link rel="stylesheet" href="/styles/alerts.css">
    <title>Авторизация</title>
</head>
<body>
    <div class="wrapper">   
        <div class="wrapper-content">
            <div class="form-block" id="registration-block">
                <form id="registration-form">
                    <div class="form-block-header">
                        <div class="header-logo">
                            <svg viewBox="0 0 86 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M43 28.5469V39.5156H9.98438V28.5469H43ZM14.1562 0.75V69H0.09375V0.75H14.1562Z" fill="white"/>
                                <path d="M85.4688 58.0312V69H51.1094V58.0312H85.4688ZM55.6562 0.75V69H41.5938V0.75H55.6562Z" fill="#F14C4C"/>
                            </svg>                               
                        </div>
                        <div class="header-text">
                            Регистрация
                        </div>
                    </div>
                    <div class="form-block-body">
                        <div class="form-block-body-inputs">
                            <div class="form-block-body-item email">
                                <div class="form-block-body-item-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                        <path fill="#E4E4E4" d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v58q0 59-40.5 100.5T740-280q-35 0-66-15t-52-43q-29 29-65.5 43.5T480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480v58q0 26 17 44t43 18q26 0 43-18t17-44v-58q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93h200v80H480Zm0-280q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z"/>
                                    </svg>
                                    <input type="text" name="email" placeholder="Почта">                                    
                                </div>
                            </div>
                            <div class="form-block-body-item password">
                                <div class="form-block-body-item-content">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5227 7.39613V8.92947C19.2451 9.46708 20.5 11.0263 20.5 12.8885V17.8254C20.5 20.1309 18.5886 22.0001 16.2322 22.0001H7.7688C5.41136 22.0001 3.5 20.1309 3.5 17.8254V12.8885C3.5 11.0263 4.75595 9.46708 6.47729 8.92947V7.39613C6.48745 4.41491 8.95667 2.00012 11.9848 2.00012C15.0535 2.00012 17.5227 4.41491 17.5227 7.39613ZM12.0051 3.73917C14.0678 3.73917 15.7445 5.37884 15.7445 7.39613V8.71383H8.25553V7.37625C8.26569 5.3689 9.94232 3.73917 12.0051 3.73917ZM12.8891 16.4551C12.8891 16.942 12.4928 17.3295 11.9949 17.3295C11.5072 17.3295 11.1109 16.942 11.1109 16.4551V14.249C11.1109 13.772 11.5072 13.3844 11.9949 13.3844C12.4928 13.3844 12.8891 13.772 12.8891 14.249V16.4551Z" fill="#E4E4E4"/>
                                    </svg>
                                    <input type="password" name="password" placeholder="Пароль">                                    
                                </div>
                            </div>
                            <div class="form-block-body-item name">
                                <div class="form-block-body-item-content">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.294 7.29117C17.294 10.2282 14.9391 12.5832 12 12.5832C9.0619 12.5832 6.70601 10.2282 6.70601 7.29117C6.70601 4.35415 9.0619 2.00012 12 2.00012C14.9391 2.00012 17.294 4.35415 17.294 7.29117ZM12 22.0001C7.66237 22.0001 4 21.2951 4 18.5751C4 15.8541 7.68538 15.1741 12 15.1741C16.3386 15.1741 20 15.8791 20 18.5991C20 21.3201 16.3146 22.0001 12 22.0001Z" fill="#E4E4E4"/>
                                    </svg>                                        
                                    <input type="text" name="name" placeholder="Имя">                                    
                                </div>
                            </div>
                            <div class="form-block-body-item surname">
                                <div class="form-block-body-item-content">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.294 7.29117C17.294 10.2282 14.9391 12.5832 12 12.5832C9.0619 12.5832 6.70601 10.2282 6.70601 7.29117C6.70601 4.35415 9.0619 2.00012 12 2.00012C14.9391 2.00012 17.294 4.35415 17.294 7.29117ZM12 22.0001C7.66237 22.0001 4 21.2951 4 18.5751C4 15.8541 7.68538 15.1741 12 15.1741C16.3386 15.1741 20 15.8791 20 18.5991C20 21.3201 16.3146 22.0001 12 22.0001Z" fill="#E4E4E4"/>
                                    </svg> 
                                    <input type="text" name="surname" placeholder="Фамилия">                                    
                                </div>
                            </div>
                            <div class="form-block-body-item middle_name">
                                <div class="form-block-body-item-content">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.294 7.29117C17.294 10.2282 14.9391 12.5832 12 12.5832C9.0619 12.5832 6.70601 10.2282 6.70601 7.29117C6.70601 4.35415 9.0619 2.00012 12 2.00012C14.9391 2.00012 17.294 4.35415 17.294 7.29117ZM12 22.0001C7.66237 22.0001 4 21.2951 4 18.5751C4 15.8541 7.68538 15.1741 12 15.1741C16.3386 15.1741 20 15.8791 20 18.5991C20 21.3201 16.3146 22.0001 12 22.0001Z" fill="#E4E4E4"/>
                                    </svg> 
                                    <input type="text" name="middle_name" placeholder="Отчество">                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-block-body-submit">
                            <div class="form-block-body-submit-button">
                                <button class="submit-button" type="submit" name="registration-form-submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                            </div>
                            <div class="form-block-body-submit-text">
                                <span class="form-message">У вас уже есть аккаунт? <a  class="authorization-link">Авторизуйтесь</a></span>
                            </div>
                        </div>
                    </div>                    
                </form>
                <form id="authorization-form">
                    <div class="form-block-header">
                        <div class="header-logo">
                            <svg viewBox="0 0 86 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M43 28.5469V39.5156H9.98438V28.5469H43ZM14.1562 0.75V69H0.09375V0.75H14.1562Z" fill="white"/>
                                <path d="M85.4688 58.0312V69H51.1094V58.0312H85.4688ZM55.6562 0.75V69H41.5938V0.75H55.6562Z" fill="#F14C4C"/>
                            </svg>                               
                        </div>
                        <div class="header-text">
                            Авторизация
                        </div>
                    </div>
                    <div class="form-block-body">
                        <div class="form-block-body-inputs">
                            <div class="form-block-body-item email">
                                <div class="form-block-body-item-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                        <path fill="#E4E4E4" d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v58q0 59-40.5 100.5T740-280q-35 0-66-15t-52-43q-29 29-65.5 43.5T480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480v58q0 26 17 44t43 18q26 0 43-18t17-44v-58q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93h200v80H480Zm0-280q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z"/>
                                    </svg>
                                    <input type="text" name="email" placeholder="Почта">                                    
                                </div>
                            </div>
                            <div class="form-block-body-item password">
                                <div class="form-block-body-item-content">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5227 7.39613V8.92947C19.2451 9.46708 20.5 11.0263 20.5 12.8885V17.8254C20.5 20.1309 18.5886 22.0001 16.2322 22.0001H7.7688C5.41136 22.0001 3.5 20.1309 3.5 17.8254V12.8885C3.5 11.0263 4.75595 9.46708 6.47729 8.92947V7.39613C6.48745 4.41491 8.95667 2.00012 11.9848 2.00012C15.0535 2.00012 17.5227 4.41491 17.5227 7.39613ZM12.0051 3.73917C14.0678 3.73917 15.7445 5.37884 15.7445 7.39613V8.71383H8.25553V7.37625C8.26569 5.3689 9.94232 3.73917 12.0051 3.73917ZM12.8891 16.4551C12.8891 16.942 12.4928 17.3295 11.9949 17.3295C11.5072 17.3295 11.1109 16.942 11.1109 16.4551V14.249C11.1109 13.772 11.5072 13.3844 11.9949 13.3844C12.4928 13.3844 12.8891 13.772 12.8891 14.249V16.4551Z" fill="#E4E4E4"/>
                                    </svg>
                                    <input type="password" name="password" placeholder="Пароль">                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-block-body-submit">
                            <div class="form-block-body-submit-button">
                                <button class="submit-button" type="submit" name="authorization-form-submit">ВОЙТИ</button>
                            </div>
                            <div class="form-block-body-submit-text">
                                <span class="form-message">У вас нет аккаунта? <a class="registration-link">Зарегистрируйтесь</a></span>
                            </div>
                        </div>
                    </div>                  
                </form>
            </div>
        </div> 
    </div>
    <script src="/scripts/login-page-script.js"></script>
    <script src="/scripts/alerts.js"></script>
</body>
</html>