<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('./partials/head') %>
    
    <link rel="stylesheet" href="/styles/registration-page-styles.css">  
    <link rel="stylesheet" href="/styles/alerts.css">  
    <title>Регистрация</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-content">
            <div class="registration-block">
                <form id="registration-form">
                    <div class="registration-block-header">
                        <div class="header-logo">
                            <svg viewBox="0 0 86 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M43 28.5469V39.5156H9.98438V28.5469H43ZM14.1562 0.75V69H0.09375V0.75H14.1562Z" fill="white"/>
                                <path d="M85.4688 58.0312V69H51.1094V58.0312H85.4688ZM55.6562 0.75V69H41.5938V0.75H55.6562Z" fill="#F14C4C"/>
                            </svg>                               
                        </div>
                        <div class="header-text">
                            Регистрация
                        </div>
                    </div>
                    <div class="registration-block-body">
                        <div class="registration-block-body-inputs">
                            <div class="registration-block-body-item email">
                                <div class="registration-block-body-item-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                        <path fill="#E4E4E4" d="M480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v58q0 59-40.5 100.5T740-280q-35 0-66-15t-52-43q-29 29-65.5 43.5T480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480v58q0 26 17 44t43 18q26 0 43-18t17-44v-58q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93h200v80H480Zm0-280q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35Z"/>
                                    </svg>
                                    <input type="text" name="email" placeholder="Почта">                                    
                                </div>
                            </div>
                            <div class="registration-block-body-item password">
                                <div class="registration-block-body-item-content">
                                    <svg viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.5 11.875C3.5 9.98938 3.5 9.04657 4.08579 8.46079C4.67157 7.875 5.61438 7.875 7.5 7.875H13.5C15.3856 7.875 16.3284 7.875 16.9142 8.46079C17.5 9.04657 17.5 9.98938 17.5 11.875V12.375C17.5 15.2034 17.5 16.6176 16.6213 17.4963C15.7426 18.375 14.3284 18.375 11.5 18.375H9.5C6.67157 18.375 5.25736 18.375 4.37868 17.4963C3.5 16.6176 3.5 15.2034 3.5 12.375V11.875Z" stroke="#E4E4E4" stroke-width="2"/>
                                        <path d="M14 7V6.125C14 4.192 12.433 2.625 10.5 2.625V2.625C8.567 2.625 7 4.192 7 6.125V7" stroke="#E4E4E4" stroke-width="2" stroke-linecap="round"/>
                                        <circle cx="10.5" cy="13.125" r="1.75" fill="#E4E4E4"/>
                                    </svg> 
                                    <input type="password" name="password" placeholder="Пароль">                                    
                                </div>
                            </div>
                            <div class="registration-block-body-item name">
                                <div class="registration-block-body-item-content">
                                    <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960">
                                        <path fill="#E4E4E4" d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/>
                                    </svg>
                                    <input type="text" name="name" placeholder="Имя">                                    
                                </div>
                            </div>
                            <div class="registration-block-body-item surname">
                                <div class="registration-block-body-item-content">
                                    <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 -960 960 960">
                                        <path fill="#E4E4E4" d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/>
                                    </svg>
                                    <input type="text" name="surname" placeholder="Фамилия">                                    
                                </div>
                            </div>
                            <div class="registration-block-body-item middle_name">
                                <div class="registration-block-body-item-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                        <path fill="#E4E4E4" d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z"/>
                                    </svg>
                                    <input type="text" name="middle_name" placeholder="Отчество">                                    
                                </div>
                            </div>
                        </div>
                        <div class="registration-block-body-submit">
                            <div class="registration-block-body-submit-button">
                                <button class="submit-button" type="submit" name="registration-form-submit">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                            </div>
                            <div class="registration-block-body-submit-text">
                                <span class="registration-message">У вас уже есть аккаунт? <a href="/authorization"  class="authorization-link">Авторизуйтесь</a></span>
                            </div>
                        </div>
                    </div>                    
                </form>
            </div>
        </div> 
    </div>
    <script src="/scripts/registration-page-script.js"></script>
    <script src="/scripts/alerts.js"></script>
</body>
</html>