.profile-section {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 27rem minmax(auto, auto);
    grid-gap: .8rem;
}

.content-block {
    border-radius: .4rem;
    background-color: var(--color-dark-lighter);
    padding: 1.25rem;
}

.avatar-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.7rem!important;
}

.avatar-block-profile-icon {
    width: 100%;
    height: 100%;
}

.personal-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-info-block-body {
    margin-bottom: 1rem;
}

.personal-info-block-body-header {
   text-transform: uppercase;
    font-weight: 700;
    font-size: 1.35rem;
    letter-spacing: .05rem;
    display: flex;
    gap: .3rem;
    align-items: center;
    margin-bottom: .5rem;
}

.personal-info-block-body-header > svg {
    width: 2rem;
}

.h-line {
    margin: .5rem 0 .5rem 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: .0625rem solid var(--color-white);
}

.user-data-table {
    table-layout: fixed;
    width: 100%;
}

.user-data-table-row {
    font-size: 1.16rem;
}

.user-data-table-row:nth-child(odd) {
    background-color: #3a3a3a;
}

@media (hover: hover) {
    .user-data-table-row:hover {
        background-color: #4b4b4b;
    }
}

.user-data-table-row-field,
.user-data-table-row-value {
    text-align: start;
    padding: .4rem 0 .4rem .3rem;
}

.user-data-table-row-value {
    font-weight: 300;
}

.user-data-table-row-field {
    font-weight: 700;
}

.css-student-user-status,
.css-teacher-user-status,
.css-admin-user-status {
    font-weight: 700;
}

.css-student-user-status {
    color: var(--color-red);
}

.css-teacher-user-status {
    color: var(--color-orange);
}

.css-admin-user-status {
    color: var(--color-blue);
}

.personal-info-block-btns {
    display: flex;
    justify-content: space-between;
}

.edit-profile-button,
.log-out-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .45rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .625rem;
    padding: .6rem .7rem;
    font-weight: 500;
}

.edit-profile-button {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.log-out-button {
    background-color: var(--color-red-lighter);
    color: var(--color-white);
}

.edit-profile-button-icon,
.log-out-button-icon {
    display: flex;
    align-items: center;
}

.edit-profile-button-icon-icon,
.log-out-button-icon-icon {
    width: 1.5rem;
}

@media (max-width: 576px) {
    .personal-info-block-btns {
        flex-direction: column;
        gap: .5rem;
    }
    .edit-profile-button,
    .log-out-button {
        width: 100%;
    }
    .edit-profile-button,
    .log-out-button {
        border-radius: .4rem;
    }
}

.statistic-block {
    grid-column: 1/3;
}

@media (max-width: 768px) {
    .profile-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25rem minmax(auto, auto);
    }
    .statistic-block {
        grid-column: 1;
    }
}

#editDataModal .modal__title > svg{
    width: 2rem;
}

#editDataModal-form {
    width: 30rem;
}

@media (max-width: 576px) {
    #editDataModal-form {
        width: 100%;
    }
}

#editDataModal-form .edit-form-item > input {
    color: var(--color-white);
    border: var(--border);
    background-color: #404040;
    border-radius: .3rem;
    padding: .4rem;
    width: 100%;
    transition: .1s ease all;
    font-weight: 400;
}

#editDataModal-form .edit-form-item > input:focus {
    background-color: #585858;
}

#editDataModal-form .edit-form-action > input {
    width: 100%;
    border: 0.1rem solid var(--color-green);
    background-color: var(--color-green);
}

.input-error-message {
    color: var(--color-white);
    font-size: .85rem;
    line-height: 1.2rem;
    width: 100%;
    padding: .3rem .4rem;
    background-color: var(--color-error);
    border-radius: .3rem;
    text-wrap: wrap;
    margin-top: .3rem;
}

.input-with-error > input {
    color: var(--color-error)!important;
    border: .1rem solid var(--color-error)!important;
}

.input-no-error > input{
    color: var(--color-green)!important;
    border: .1rem solid var(--color-green)!important;
}

@media (hover: hover) {
    #editDataModal-form .edit-form-action > input {
        background-color: var(--color-green);
        color: var(--color-white);
        border: 0.1rem solid var(--color-green);
        padding: .5rem;
    }

    #editDataModal-form .edit-form-action > input:hover {
        background-color: transparent;
        color: var(--color-green);
    }
}

.filter-buttons {
    margin-bottom: .8rem;
    display: flex;
    gap: .4rem;
}

.filter-button {
    color: var(--color-white);
    border: var(--border);
    background-color: var(--color-dark-lighter);
    border-radius: 1rem;
    padding: .2rem .8rem;
    transition: .1s ease all;
}

.filter-button.active{
    background-color: var(--color-white);
    color: var(--color-dark);
}

.statistic-block-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: .05rem;
    display: flex;
    gap: .2rem;
    align-items: center;
}

.statistic-block-header > svg {
    width: 2rem;
}

.statistic-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.statistic-item, .statistic-empty-item {
    padding: .5rem .8rem;
    background-color: var(--color-dark);
    border: 0.1rem solid var(--color-dark);
    border-radius: .4rem;
    transition: all .2s ease;
    overflow: hidden;
}

.statistic-item-header,.statistic-empty-item  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .3rem;
}

.statistic-item-details {
    margin-top: .5rem;
    display: none;
}

.statistic-item-details .deatils-date,
.statistic-item-details .deatils-teacher-info {
    display: inline-flex;
    align-items: center;
    gap: .15rem;
}

.statistic-item-details .deatils-date > svg,
.statistic-item-details .deatils-teacher-info > svg {
    width: 1.3rem;
}

.statistic-item-details .deatils-teacher-info {
    margin-right: 1rem;
}

@media (hover: hover) {
    .statistic-item:hover {
        border-color: var(--color-white);
    }
}

.statistic-item:not(:last-child) {
    margin-bottom: .5rem;
}

.statistic-empty-item {
    justify-content: center;
    color: var(--color-orange);
    border: .15rem solid var(--color-orange);
    font-weight: 400;
}

.statistic-empty-item > svg {
    width: 1.8rem;
}

.statistic-item-info {
    flex: 1;
    display: flex;
    gap: 1rem;
}

.item-info-theme-title {
    font-weight: 500;
    flex: 0 0 auto;
}

.item-info-note {
    color: var(--color-white-op-text);
    white-space: normal
}

.statistic-item-score {
    font-weight: 500;
    flex: 0 0 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    border: 0.1rem solid;
}

.statistic-item-score.score_5 {
    color: #71AC49;
    border-color: #71AC49;
}
.statistic-item-score.score_4 {
    color: var(--color-orange);
    border-color: var(--color-orange);
}
.statistic-item-score.score_3 {
    color: #FFFF00;
    border-color: #FFFF00;
}
.statistic-item-score.score_2 {
    color: var(--color-red);
    border-color: var(--color-red);

}
.statistic-item-score.score_1 {
    color: var(--color-error);
    border-color: var(--color-error);
}