@import url(../styles/index-styles.css);

html {
    font-size: 16px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../assets/img/mesh-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper-content {
    display: flex;
    flex-direction: column; 
    gap: .7rem;
    margin: 1rem 0;
}

.registration-block {
    background-color: var(--color-dark-lighter);
    width: 34rem;
    border-radius: .6rem;
    display: none;
    border: var(--border);
    z-index: 3;
    padding: 2rem 5rem;
    transition: box-shadow .35s ease;
    -webkit-box-shadow: 4px 4px 34px 7px rgba(255, 255, 255, 0.06);
    -moz-box-shadow: 4px 4px 34px 7px rgba(255, 255, 255, 0.06);
    box-shadow: 4px 4px 34px 7px rgba(255, 255, 255, 0.06);
}

.registration-block-header {
    margin-bottom: 1.5rem;
}

.registration-block-header .header-logo {
    width: 3.5rem;
    margin: 0 auto;
    margin-bottom: .3rem;
}

.registration-block-header .header-text {
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--color-white-lighter);
}

.registration-block-body-item {
    padding: 0.5rem 0.5rem;
    background-color: #404040;
    border-radius: .3rem;

    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.registration-block-body-item-content {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.registration-block-body-item-content > input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
}

.registration-block-body-item-content > svg {
    width: 1.57rem;
}

.registration-block-body-item:not(:last-child) {
    margin: 0 0 1rem 0;
}

.registration-block-body-inputs {
    margin-bottom: 1.8rem;
}

.registration-block-body-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.submit-button {
    letter-spacing: 0.0625rem;
    font-size: 1.15rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--color-dark);
    background-color: var(--color-white);
    padding: 0.93rem 2.18rem;
    cursor: pointer;
    margin-bottom: 0.75rem;
    border-radius: .625rem;
    border: none;
    outline: none;

    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color .15s ease-in-out;
}

@media (hover: hover) {
    
    .submit-button::after {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: var(--color-red);
        z-index: -1;
        transition: all .1s ease-in-out;
    }
    
    .submit-button:hover::after {
        height: 100%;
    }
    
    .submit-button:hover {
        color: var(--color-white);
    }

}

.authorization-link {
    font-weight: 400;
}

.registration-block-body-submit-text {
    opacity: .6;
    font-size: 0.93rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.alert {
    border-radius: .6rem!important;
}

.input-error-message {
    color: var(--color-white);
    font-size: .85rem;
    line-height: 1.2rem;
    width: 100%;
    padding: .3rem .4rem;
    background-color: var(--color-error);
    border-radius: .3rem;
    text-wrap: wrap;
}

.input-with-error > input {
    color: var(--color-error);
}

.input-no-error > input{
    color: var(--color-green);
}

@media (max-width: 576px) { 

    .wrapper-content {
        margin: 0;
        height: 100vh;
        width: 100%;
    }

    .registration-block {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
        padding: 3rem 2rem 1rem 2rem;
    }

    .success-message-block, 
    .error-message-block  {
        position: absolute;
        bottom: 0;
    }
}